<container class="p-3">
<form class="col-lg-5 p-5 text-bg-light mx-auto rounded-4 border" action="/new_post" method="post" id="new_post">
  <h2 class="text-center mb-4">New Post</h2>
  <div class="mb-4">
    <input type="text" class="form-control" id="title" placeholder="Title (optional)" aria-describedby="title" name="title" autocomplete="off">
  </div>
  <div class=" mb-4">
    <textarea type="text" class="form-control" id="body" aria-describedby="body" placeholder="Type in your stuff..." name="body" maxlength="300" rows="4" required></textarea>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</container>